.container {
    width: 88%;
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.section {
    padding: 24pt 0;
}

.section:nth-child(odd) {
    background-color: #f7f7f7;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.link {
    color: #fefeff;
    text-decoration: underline;
}

.main {
    position: relative;
    width: 100%;
    background-image: url(../../assets/arrows-in-a-white-paper.jpg);
    box-shadow: 0 4px 11px rgba(124, 146, 169, 0.5);
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: #fff;
}

.main-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.79;
    z-index: 1;
    background-color: rgb(0, 0, 0) 
}

.main-overlay-gradientVertical {
    background: -webkit-gradient(linear,
            left top,
            right top,
            from(#160c2e),
            to(rgb(31, 12, 61)));
    background: linear-gradient(90deg, #0d0d0e, rgb(97, 96, 97));
}

.main-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1920" height="1080" viewBox="0 0 1920 1080"><defs><linearGradient id="06714b97-aec8-4b7e-bf3d-1e20f95f612e" y1="809.5" x2="958" y2="809.5" gradientTransform="matrix(1, 0, 0, -1, 0, 1082)" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff" stop-opacity="0"/><stop offset="1" stop-color="#fff" stop-opacity="0.05"/></linearGradient></defs><title>hero</title><rect id="0567095b-2cf7-4407-b8ab-ec2abe52d830" data-name="&lt;Path&gt;" y="545" width="1920" height="535" fill="#fff" opacity="0.05" style="isolation:isolate"/><polygon id="82ca9a61-a0a1-49cc-9805-a3533c693bad" data-name="&lt;Path&gt;" points="958 545 0 545 0 0 770.96 0 958 545" fill="url(#06714b97-aec8-4b7e-bf3d-1e20f95f612e)"/></svg>');
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0.66;
  z-index: 2;
}

.main-inner {
    position: relative;
    z-index: 3;
}

.main-content {
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: cals(100vh - 50 px);
    padding: 92px;
    overflow: auto;
}

.main-content-inner {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.main-title {
    color: inherit;
    margin-bottom: 1.25em ;
}

.main-text {
    opacity: 0.85;
    line-height: 1.7;
    text-align: center;
    font-size: 1.1 em;
    margin-bottom: 25px;
}

.main-button {
    background: initial;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid;
}

.card {
  text-align: center;
  padding: 16pt 0;
  background-color: #fff;
}

@media (min-width: 992px) {
  .card-inner {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

.card-item {
    padding: 16pt 8pt;
    text-align: center;
    width: 100%;
    border-top: 1px solid #eee;
    overflow: auto;
}

@media (min-width: 992px) {
    .card-item {
        border-top: none;
        width: auto;
    }
}

.card-media {
    margin: 16pt 0;
}

@media (min-width: 992px) {
    .step__media {
        margin: 32pt 0;
    }
}

.card-image {
    max-height: 100px;
    max-width: 222px;
    margin-top: 8pt;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.card-text {
    max-width: 36ch;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.other {
    padding: 72pt 0;
}

@media (min-width: 992px) {
    .other-inner {
        -js-display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

.other-box {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 0 0 #e5e5e5;
    margin: 0 1.25em 1.25em 0;
    padding: 3em;
    text-align: center;
    color: #777777;
}

.other-title {
    margin-bottom: 1.25em;
    color: #646464;
    font-size: 22px;
}

.other-text {
    margin-bottom: 2em;
    text-align: left;
}