.body1-font {
    font-size: 14px;
}

.svg {
    width: 28px;
    height: 28px;
}

h1 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 30px;
    color: #140d14;
    border-bottom: 2px solid #EEF1F7;
    padding-bottom: 1%;
    width: 100%;
}